/* Layout: Split screen with tree on the left and info on the right */
.student-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* Fullscreen height */
}

/* Left half (tree structure) */
.tree-half {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Optional background color */
}

#student_tree {
  position: relative;
  width: 500px;
  height: 700px;
  background-image: url('https://static.igem.wiki/teams/5218/image/static/images/team/tree.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* margin-left:100px; */
  margin-left: 60px;
}

/* Styling for the nodes */
.tree__node {
  position: absolute;
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease;
}

.tree__node img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Define the shake animation */
@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

/* Apply the shake effect on hover */
.tree__node:hover {
  animation: shake 0.5s;
  /* Duration of the shake */
  animation-iteration-count: 1;
  /* Only shake once per hover */
}


.tree__node:hover {
  transform: scale(2);
}

.tree__node:nth-child(15) {
  top: 15%;
  left: 43%;
}

.tree__node:nth-child(8) {
  top: 20%;
  left: 25%;
}

.tree__node:nth-child(10) {
  top: 20%;
  left: 60%;
}

.tree__node:nth-child(7) {
  top: 35%;
  left: 15%;
}

.tree__node:nth-child(14) {
  top: 33%;
  left: 35%;
}

.tree__node:nth-child(16) {
  top: 35%;
  left: 53%;
}

.tree__node:nth-child(6) {
  top: 32%;
  left: 70%;
}

.tree__node:nth-child(5) {
  top: 50%;
  left: 12%;
}

.tree__node:nth-child(13) {
  top: 50%;
  left: 30%;
}

.tree__node:nth-child(12) {
  top: 50%;
  left: 45%;
}

.tree__node:nth-child(3) {
  top: 51%;
  left: 60%;
}

.tree__node:nth-child(4) {
  top: 48%;
  left: 75%;
}

.tree__node:nth-child(2) {
  top: 62%;
  left: 18%;
}

.tree__node:nth-child(11) {
  top: 64%;
  left: 35%;
}

.tree__node:nth-child(9) {
  top: 65%;
  left: 55%;
}

.tree__node:nth-child(1) {
  top: 63%;
  left: 71%;
}

/* Right half (info section) */
.info-half {
  flex: 1;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

/* Default team description (visible by default) */
.team-description {
  margin-top: 120px;
  /* font-size: 1.2rem;
  line-height: 1.6; */
  display: block;
  text-align: left;
  max-width: 80%;
}

/* .team-description h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.team-description p {
  font-size: 1rem;
} */

/* Student card (hidden by default) */
.student-card {
  margin-left: -100px;
  margin-top: 90px;
  display: none;
  width: 550px;
  padding: 20px;
  background-color: rgba(30, 30, 30);
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.9);
}

.student-card.show {
  display: block;
}

.student-card-img {
  width: 130px;
  height: 160px;
  border-radius: 10%;
  float: left;
  margin-right: 15px;
}

.student-card-name {
  font-size: 1.5rem;
}

.student-card-description {
  font-size: 1rem;
  line-height: 1.6;
}

/* Team and Partners Section */
.collection {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Partners Section Styling */
.partners {
  position: absolute;
  /* Allows fixed positioning within the container */
  top: 10%;
  /* Distance from the top of the viewport */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%) scale(1.1);
  /* Adjust horizontal center alignment */
  width: 100%;
  /* Set the width for the section */
  font-size: 1rem;
  /* Larger font size */
  text-align: center;
}

/* Contacts Section Styling */
.contacts {
  position: absolute;
  top: 60%;
  /* Positioning below the Partners section */
  left: 50%;
  transform: translate(-50%);
  /* Center both vertically and horizontally */
  width: 100%;
  /* Adjust width to be smaller than Partners */
  padding: 0px;
  text-align: center;
  display: flex;
  /* Use flexbox */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Copyright Section Styling */
.copyright {
  position: absolute;
  top: 75%;
  /* Distance from the bottom of the viewport */
  left: 50%;
  transform: translateX(-50%);
  /* Center horizontally */
  width: 120%;
  /* Smaller width for a compact look */
  color: white;
  text-align: center;
  display: flex;
  /* Use flexbox */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.copyright__link {
  text-decoration: none;
  color: white;
  font-style: bold;
  transition: .2s all ease-in-out;
}

.copyright__link:hover {
  text-decoration: underline;
  font-style: bold;
  color: #afd918;
}

/* Content link */
.link {
  color: #ffffff;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transition: .2s all ease-in-out;
}

.link:hover {
  color: #afd918;
  text-decoration: underline;
}

/* Introductory Section Styling with Carousel Background */
.intro-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* transition: background-image 2s ease-in-out; */
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)), url('https://static.igem.wiki/teams/5218/image/static/images/background.jpg'); */
}

/* Carousel control buttons */
.carousel-nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.carousel-nav span {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.carousel-nav span.active {
  opacity: 1;
}

/* Transparent background overlay for text */
.intro-background {
  text-align: center;
  color: white;
  position: relative;
  z-index: 2;
}

/* Text */
h3 {
  /* font-size: clamp(1.3rem, 4vw, 5rem); */
  font-size: clamp(0.7rem, 1.75vw, 1.4rem);
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: 1px;
}

h1 {
  font-size: clamp(3rem, 5vw, 6rem);
  font-weight: 700;
  margin-top: 500px;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 9);
}

p {
  font-size: clamp(0.5rem, 1.25vw, 1rem);
  margin-top: 0;
  color: white;
  margin-bottom: 15px
}

.description-page {
  padding: 60px 0;
  background-image: url('https://static.igem.wiki/teams/5218/image/static/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: opacity 0.3s ease-in-out;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.description-page section {
  padding: 30px;
}

.content-background {
  position: relative;
  padding: 40px;
  z-index: 0;
}

.intro-section,
.description-page {
  margin: 0;
  padding: 0;
}

/* Style for section titles */
.section-title {
  text-align: center;
  font-size: clamp(0.7rem, 1.75vw, 1.4rem);
  margin-bottom: 30px;
  color: #fff;
}

/* Teacher Section */
.teacher-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

/* Style for each teacher's photo */
.teacher-node {
  text-align: center;
  transition: transform 0.3s ease;
}

.teacher-node img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Scale up the image on hover */
.teacher-node:hover img {
  transform: scale(2);
}

.teacher-description {
  margin-top: 50px;
  text-align: left;
  padding: 20px;
  background-color: rgba(30, 30, 30);
  border-radius: 20px;
  max-width: 80%;
  margin: 50px auto;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
}

.teacher-name {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.teacher-description-text {
  font-size: clamp(0.5rem, 1.25vw, 1rem);
  line-height: 1.6;
  max-width: 90%;
  margin: 0 auto;
}

/* Advisor Section */
.advisor-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

/* Style for each advisor's photo */
.advisor-node {
  text-align: center;
  transition: transform 0.3s ease;
}

.advisor-node img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Scale up the image on hover */
.advisor-node:hover img {
  transform: scale(2);
}

/* Advisor Description section */
.advisor-description {
  margin-top: 50px;
  text-align: left;
  padding: 20px;
  background-color: rgba(30, 30, 30);
  border-radius: 20px;
  max-width: 80%;
  margin: 50px auto;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.advisor-name {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.advisor-description-text {
  font-size: clamp(0.5rem, 1.25vw, 1rem);
  max-width: 90%;
  margin: 0 auto;
}